body {
    padding: 0;
    margin: 0;
    background-color: #9be5f3;
    font-family: Lyft Pro,HelveticaNeue,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    color:#373a3c }

nav {
    background-color: #333;
    border-bottom: 2px solid white;
    overflow: hidden;

}

nav h3 {
    float: right;
    color: #f2f2f2;
    padding-right: 5px;
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;

}

.logo {
    
}
.main-left {
    margin-top: 90px;
    margin-left: 90px;
    height: 600px;
    width: 700px;
    border-radius: 5px;
    background-color: white;
}

.large-text-container {
    font-size: 60px;
    width: 100%;
}

.phone-input{

}

.terms {

}

.apply {

}

.ride {

}

.main-right {

}